<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">{{title}}</h4>
<!--
            <ol class="breadcrumb">
                <li>
                    <a href="#">Ubold</a>
                </li>
                <li>
                    <a href="#">Forms</a>
                </li>
                <li class="active">
                    General elements
                </li>
            </ol>
-->
        <p class="text-muted m-b-30 font-13">
            {{subtitle}}
        </p>
    </div>
</div>