<div id="add-studio" class="col-md-4 col-md-offset-4"> 
    <div id="add-studio-form">
        <h4>Add a Studio</h4> 
        <form ng-submit="submit()">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="name" ng-model="studioData.name" placeholder="Name">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="abn" ng-model="studioData.abn" placeholder="ABN">
                </div>
             
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="addr_1" ng-model="studioData.addr_1" placeholder="Address Line One">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="addr_2" ng-model="studioData.addr_2" placeholder="Address Line Two">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="suburb" ng-model="studioData.suburb" placeholder="Suburb">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="state" ng-model="studioData.state" placeholder="State">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="pcode" ng-model="studioData.pcode" placeholder="Postcode">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="phone" ng-model="studioData.phone" placeholder="Phone">
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="email" ng-model="studioData.email" placeholder="Email">
                </div>

                <div class="form-group text-right">   
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </form>
    </div> 
</div> 