<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-3">

            <div class="card-box m-t-20">
                <div class="p-20">
                    <div class="about-info-p text-center">
                                        <img src="assets/images/users/avatar-1.jpg" class="thumb-lg img-circle img-thumbnail" alt="profile-image">
                    </div>
                    <div class="about-info-p">
                        <strong>Full Name</strong>
                        <br>
                        <p class="text-muted">Johnathan Deo</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Mobile</strong>
                        <br>
                        <p class="text-muted">(123) 123 1234</p>
                    </div>
                    <div class="about-info-p">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">johnathan@ubold.com</p>
                    </div>
                </div>
            </div>

            <!-- Personal-Information -->
            <div class="card-box">
                <h4 class="m-t-0 header-title"><b>Biography</b></h4>

                <div class="p-20">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

                    <p><strong>But also the leap into electronic typesetting, remaining essentially unchanged.</strong></p>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <!-- Personal-Information -->
            



        </div>


        <div class="col-md-9">

            <div class="card-box m-t-20">
                <h4 class="m-t-0 header-title"><b>Activity</b></h4>
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources">
            </div>

        </div>


    </div>

    <div class="row">

    </div>
</div>