<page-title title="Customize Email Templates" subtitle="Customize the email templates sent to customers"></page-title>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Customize Greeting Email</b></h4>
            <p class="text-muted m-b-30 font-13">
                Customize the look and feel of the studio's public site
            </p>
            <form method="post">
				<div wysiwig></div>
            </form>
        </div>
    </div>
</div>
