<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li>
                    <a ng-click="dashboard()" class="waves-effect waves-light"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>
                
                <li>
                    <a ng-click="bookings()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Bookings </span> </a>
                </li>
                
                <li>
                    <a ng-click="customers()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Manage Customers </span> </a>
                </li>
                
                <li class="text-muted menu-title">Studio Admin</li>

                <li>
                    <a ng-click="editInfo()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Edit Studio Information </span> </a>
                </li>
                
                <li>
                    <a ng-click="editPayment()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Edit Payment Details</span> </a>
                </li>
                
                <li>
                    <a ng-click="manageStaff()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Manage Studio Staff </span> </a>
                </li>
                
                <li>
                    <a ng-click="customizeTheme()" class="waves-effect waves-light"><i class="ti-spray"></i> <span> Customize Theme </span> </a>
                </li>
                
                <li>
                    <a ng-click="customizeEmail()" class="waves-effect waves-light"><i class="ti-spray"></i> <span> Edit Email Templates </span> </a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->