<!-- ========== Left Sidebar Start ========== -->

<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                
                <li>
                    <a ng-click="bookings()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Bookings </span> </a>
                </li>
                
                <li>
                    <a ng-click="editPayment()" class="waves-effect waves-light"><i class="ti-paint-bucket"></i> <span> Edit Payment Details</span> </a>
                </li>
                

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->